@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --iopurple: #974EFF;
}

.link {
    @apply text-iopurple hover:text-iopurple-dark;
}

.input {
    @apply p-2 rounded-md border-gray-300 border-2 text-base hover:border-purple-500 hover:shadow-md focus:outline-none focus:border-purple-300 focus:ring-2 focus:ring-purple-300;
}

.error {
    @apply border-red-500;
}

.contentWrapper {
    min-height: calc(100vh - 8rem);
}

.topNavWrapper {
    @apply w-full fixed top-0 z-50 bg-opacity-90 bg-white px-4 xl:px-0;
    backdrop-filter: blur(10px);
}

.topNav {
    @apply flex place-content-between items-center container mx-auto max-w-screen-xl;
}

.topNavLink {
    @apply text-base text-gray-800;
}

.topNavLink:hover {
    @apply text-iopurple;
}

.sectionContentWrapper {
    @apply container mx-auto max-w-screen-xl px-8;
}

.footerLink {
    @apply text-gray-500;
}

.footerLink:hover {
    @apply text-gray-800;
}

.gradient-bg {
    background: linear-gradient(90.44deg, #A468FF 0.15%, #895AFF 44.67%, #4839FF 99.86%);
}

.heroDesciption:hover .highlighted {
    @apply text-gray-900;
}

.highlighted:before {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: 0;
    border-radius: 2px;
    background-color: var(--iopurple);
    transition: width 100ms;
}

.highlighted:nth-child(2):before {
    transition-delay: 150ms;
}

.highlighted:nth-child(3):before {
    transition-delay: 300ms;
}


.heroDesciption:hover .highlighted:before {
    width: 100%;
}

.highlighted {
    position: relative;
    display: inline-block;
}

.whatContent {
    @apply text-2xl text-gray-900 font-medium;
}

/* .input-hover:hover {
    @apply border-4 border-red-400;
} */

.firstSection {
    @apply pt-36 pb-20 bg-gradient-to-b from-white to-gray-50;
}

.firstSectionPage {
    @apply pt-36 bg-gradient-to-b from-white to-gray-50;
}

.contactForm {
    @apply max-w-screen-sm bg-white p-10 mx-auto sm:rounded-xl space-y-4;
}

.contactForm label {
    @apply text-gray-600 leading-loose block;
}

.subscribeCheck {
    @apply h-0 w-0 invisible;
}

.subscribeCheckToggle {
    @apply cursor-pointer bg-gray-400;
	text-indent: -9999px;
	width: 40px;
	height: 24px;
	display: block;
	border-radius: 12px;
	position: relative;
}

.subscribeCheckToggle:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 10px;
	transition: 0.3s;
}

.subscribeCheck:checked + label {
	@apply bg-iopurple;
}

.subscribeCheck:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.subscribeCheckToggle:active:after {
	width: 24px;
}

/* .blogArticleSection {
    @apply max-w-screen-md mx-auto flex space-x-4;
} */

.blogArticle {
    @apply lg:w-4/5 text-lg pb-20 w-full;
}

.blogArticle h1 {
    @apply text-3xl font-bold my-6;
}

.blogArticle h2 {
    @apply text-2xl font-bold my-6;
}

.blogArticle h3 {
    @apply text-xl font-bold my-6;
}

.blogArticle h4 {
    @apply text-lg font-bold my-6;
}

.blogArticle p {
    @apply my-4;
}

.blogArticle h1:first-child,
.blogArticle h2:first-child,
.blogArticle h3:first-child,
.blogArticle h4:first-child,
.blogArticle p:first-child {
    @apply mt-0;
}

.blogArticle ul {
    @apply list-disc space-y-2 text-gray-600 my-4 pl-8;
}

.blogArticle a {
    @apply text-iopurple hover:text-iopurple-light hover:underline transition;
}

.blogArticle img {
    @apply p-4 rounded bg-white;
}


/* 缺少 Table、Code 样式定义 */